/*CSS Selector*/
/*Universal selector; it is used to target all elements inside the html tags*/

/*Font-family - changes the style of the font
courier new - is the font that is used by the webpage to display the texts
Monospace - the family from which the browser will try to search for a font once the new Courier New is not available*/

/*!important - property used in CSS to override the CSS priority rule. It makes the property to which it is attached a priority over any other conflicting style (regardless of its internal or inline*/

h1{
	color: red !important;
	background-color: pink;
}

*{
	font-family: courier new, monospace;
	font-size: 20px;
}
#zuitt-motto{
	letter-spacing: 5px;
}
.offering-item{
	text-transform: uppercase;
}
/*attribute selector

		Will only work if the element has the exact attribute that is specified in the selector. Case sensitive
		SYNTAX: ;
		tag[attribute]*/
input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}
/*ID has the highest priority over other selectors*/


/*h3{
	letter-spacing: 25px; */

/*ADJACENT SIBLING SELECTOR*/
/*SYNTAX
firstselector + secondselector*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*
in combination selectors, we ar not restricted to use uniform/one tag for both. The firstselector can be class/id/tah while the secondselector can be of different selector

#zuitt-motto + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

*/
/*descendant selector

used to select elements (secondSelector) that aee inside other elements (firstSelector)
SYNTAX 

*/
/*hexadecimal value of the color property-can be used to specify the target shade of the color that the dev/client wants to use*/

#bootcamp-learning-list li{
	color:  #075966;
}

/*General sibling selector*/

h2 ~a{
	text-decoration: none;
}

/*Child Selector*/

body>section>form>label{
	color: rgb(0, 0, 128);
}
body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}

/*Navigation*/

nav{
	background-color: white;

}

/*pseudo selector*/
/*a:  hover will change the element style once the cursor is hovered over it*/
a:hover{
	background-color: #b3d6de;
}

div{
	display: inline-block;
}

section{
	height: 100vh;
	text-align: center;
}

h2{
	/*rem - root element meeasurement it multiplies the value attached to it to the root element (html
	default value would be 16px*/
	font-size: 1.5rem;
}

ol{
	list-style-type: none;
}

/*register section*/
/*position - property that changes the position of element base in certain criteria*/

form{
	text-align: center;
	background-color: white;
	border:  2px solid black;
	height: 300px;
	/*vw-viewport widht and is similar to vh*/
	width: 25vw;
	padding-top: 25px;
	position: relative;
	left: 37.25%;
	margin-bottom: 50;
}
button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}

