*{
	font-family: serif, georgia;
	font-size: 20px;
}

p{
	color: yellow;
}

h1{
font-size: 40px;
}

#bootcamp-text{
text-transform: uppercase;
}

.languages li{
	background-color: green;
}

li[name="sublime"],[name="postman"],[name="heroku"],[name="gitlab"] {

	border: 1px;
	border-style: solid;
	border-color: navy;
}

 img + ul {
 	list-style-type: none;

 }
 div img{
 	border-radius: 300px;
 }

 section~footer{
 	text-align: center;
 }
 ul>li{
 	letter-spacing: 5px;
 }